/* Hero */
.hero-title{
    font-family: "Afacad", sans-serif;
        font-weight: 600;
        font-size: 56px;
            line-height: 1.5;
        color: #2e2f38;
        text-align:left;
        margin-bottom: 40px;
}
.hero-span{
    margin-left: 130px;
}
@media only screen and (min-width: 1439px) {
    .hero-title{
        margin-bottom: 0;
    } 
.hero-span {
margin-left: 240px;
 }
.hero-img{
    margin-left: 600px;
    margin-top: -200px;
}
}
/* Game Description */
.game-section{
    background-image: url("/img/game/back-mob.png");
    background-repeat: no-repeat;
    background-position: top 140px left 16px;
    background-size: 360px 262px;
}
.game-title{
    margin-bottom: 280px;
}
@media only screen and (min-width: 1439px) {
.game-section {
background-image: url("/img/game/back-desk.png");
background-repeat: no-repeat;
background-position: top 200px right 60px;
background-size: 636px 397px;
}    
.game-title {
margin-bottom: 100px;
} 
.game-text{
    width: 632px;
}
}
/* Advantages */
.advantages-title{
    margin-bottom: 40px;
}
.advantages-swiper-slide{
    background: rgba(135, 169, 211, 0.15);
    padding: 16px;
    height: 109px;
}
.swiper-advantages-title{
    font-family: "Afacad", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        color: #707092;
        margin-bottom: 8px;
}
.swiper-advantages-text{
    font-size: 16px;
}
.advantages-swiper-wrapper{
    margin-bottom: 32px;
}

.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 144px;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
}

.pagination-item {
    border: 3px solid #d0d4e0;
        width: 0;
        height:21px;
       transition: border 0.3s ease-in-out;
}

.pagination-item.active {
    border: 3px solid #3e4e81;
}
@media only screen and (min-width: 1439px) {
.advantages-title {
margin-bottom: 120px; 
 } 
 .custom-pagination{
    display: none;
 }
 .advantages-swiper-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
    margin-bottom: 0;
 }
 .advantages-swiper-slide{
    padding: 24px;
        width: 306px;
        height: 207px;
 }
.swiper-advantages-title{
    font-size: 24px;
    margin-bottom: 16px;
    height: 68px;
}
.swiper-advantages-text{
    font-size: 18px;
}
}
/* Main Gameplay Features */
.full-wrapper{
    display: none;
}
.gameplay-title{
    margin-bottom: 40px;
}
.gameplay-swiper-slide{
    background: rgba(228, 235, 245, 0.4);
    height: 109px;
    padding: 16px;
}
.swiper-gameplay-title{
    font-family: "Afacad", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        color: #707092;
        margin-bottom: 8px;
}
.swiper-gameplay-text{
    font-size: 16px;
}
.gameplay-swiper-wrapper{
    margin-bottom: 32px;
}
.gameplay-custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 144px;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
}
.gameplay-pagination-item {
    border: 3px solid #d0d4e0;
    width: 0;
    height: 21px;
    transition: border 0.3s ease-in-out;
}
.gameplay-pagination-item.active {
    border: 3px solid #3e4e81;
}
@media only screen and (min-width: 1439px) {
  .gameplay-custom-pagination{
    display: none;
  }
  .gameplay-title{
    margin-bottom: 56px;
  }
  .gameplay-swiper-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
  }
 .full-wrapper{
    display: block;
    border: 1px solid #aec7e2;
        width: 306px;
        height: 173px;
  }
  .gameplay-swiper-slide{
width: 306px;
height: 173px;
padding: 24px;
  }
  .first-slide{
    border-left: 2px solid #4c64a9;
        border-right: 2px solid #4c64a9;
  }
  .second-full{
    border-left: 2px solid #4c64a9;
        border-bottom: 2px solid #4c64a9;
        border-top: none;
            border-right:none;
  }
  .six-slide{
    border-top: 2px solid #4c64a9;
        border-bottom: 2px solid #4c64a9;
  }
  .third-full{
    border-top: 2px solid #4c64a9;
        border-bottom: 2px solid #4c64a9;
        border-right: none;
        border-left: none;
  }
  .eight-slide{
    border-top: 2px solid #4c64a9;
  }
  .last-full{
    border-top: none;
        border-bottom: 2px solid #4c64a9;
        border-right: 2px solid #4c64a9;
        border-left: 2px solid #4c64a9;
  }
}
/* User Reviews */
.user-title{
    margin-bottom: 40px;
}
.user-swiper-wrapper{
    margin-bottom: 32px;
}

.user-custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 144px;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
}
.user-swiper-slide{
    border: 1px solid #87a9d3;
        padding: 16px;
        height: 124px;
}
.user-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.star-img{
    max-width: 106px;
    height: 18px;
}
.swiper-user-title{
    font-family: "Afacad", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.4;
        color: #5d8fce;
}
.swiper-user-text{
    font-family: "Afacad", sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
        color: #2e2f38;
}
.user-pagination-item {
    border: 3px solid #d0d4e0;
    width: 0;
    height: 21px;
    transition: border 0.3s ease-in-out;
}

.user-pagination-item.active {
    border: 3px solid #3e4e81;
}
@media only screen and (min-width: 1439px) {
.user-title{
    margin-bottom: 56px;
}
.user-custom-pagination{
    display: none;
}
.user-swiper-wrapper{
    margin-bottom: 40px;
}
.pag_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 12px;
    background-color: rgba(76, 100, 169, 0.2);;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
 }

.pag_bar {
    width: 100px;
    height: 100%;
    background-color: #4c64a9;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
}
}
/* How to Play */
.play-title{
    margin-bottom: 40px;
}
.play-swiper-wrapper{
    margin-bottom: 32px;
}
.play-custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 144px;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
}

.play-pagination-item {
    border: 3px solid #d0d4e0;
    width: 0;
    height: 21px;
    transition: border 0.3s ease-in-out;
}

.play-pagination-item.active {
    border: 3px solid #3e4e81;
}
.play-swiper-slide{
    padding: 16px;
    height: 357px;
}
.first-wrapper-slide{
    display: flex;
flex-direction: column;
gap: 12px;
}
.first-wrapper-title{
    font-family: "Afacad", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        color: #707092;
}
.first-wrapper-text{
    font-family: "Afacad", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: #2e2f38;
}
.first-play-swiper{
    background: #ecedf2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.second-wrapper-slide{
    display: flex;
    flex-direction: row;  
    gap: 12px;  
}
.second-wrapper-title{
    font-family: "Afacad", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        color: #818dc3; 
        width: 95px;
}
.second-wrapper-text{
    font-family: "Afacad", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: #2e2f38;
        width: 204px;
}
.second-play-swiper{
    display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
}
.first-slide-wrapper{
    background: #ecedf2;
    padding: 16px;
    gap: 8px;
    height: 109px;
}
.play-swiper-title{
    font-family: "Afacad", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        color: #707092;
}
.play-swiper-text{
    font-family: "Afacad", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: #2e2f38;
}
@media only screen and (min-width: 1439px) {
   .play-title{
    margin-bottom: 56px;
   }
   .play-custom-pagination{
    display: none;
   }
   .play-swiper-wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
   }
   .first-play-swiper{
    padding: 24px;
        width: 526px;
        height: 322px;
   }
   .second-play-swiper{
    width: 746px;
        height: 322px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
   }
   .first-slide-wrapper{
    padding: 24px;
        width: 306px;
        height: 149px;
   }
   .first-wrapper-title {
    font-size: 24px;
   }

   .first-wrapper-text {
    font-size: 18px;
   }
   .second-wrapper-slide {
       display: flex;
       flex-direction: row;
       gap: 12px;
   }

   .second-wrapper-title {
       font-size: 18px;
       width: 106px;
   }

   .second-wrapper-text {
       font-size: 18px;
       width: 360px;
   }
   .last-slide-wrapper{
    width: 416px;
   }
   .play-swiper-title{
    font-size: 24px;
   }
   .play-swiper-text{
    font-size: 18px;
   }
}
/* FAQ */
.faq-title{
    margin-bottom: 40px;
}
.faq-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.faq-item{
    display: flex;
        flex-direction: column;
        gap: 8px;
        background: rgba(135, 169, 211, 0.2);
        padding: 16px;
            width: 343px;
            height: 115px;
}
.faq-item-title{
    font-family: "Afacad", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        color: #2e2f38;
}
.faq-item-text{
    font-size: 16px;
}
@media only screen and (min-width: 1439px) {
 .faq-title{
    margin-bottom: 56px;
 }
 .faq-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 22px;
 }
 .faq-item{
    padding: 24px;
        width: 416px;
        height: auto;
        gap: 16px;
 }
 .faq-item-title{
    font-style: 24px;
 }
 .faq-item-text{
    width: 324px;
 }
}